body{
    margin: 0px;
    text-align: center;
}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 70px;
    position: fixed;
    width: 100%;
    height: 40px;
    box-shadow: 0px 0px 5px;
    background-color:rgb(141, 190, 192);
    padding: 20px;
}
section.home{
    background-size: cover;
    height: 800px;
    background-image: url(banner/banner.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 200px 80px 200px 20px;
    text-align: left;
}
.howto img{
    border-radius: 20px;
}
.introhowto{
    margin: auto;
    width: 90%;
    display: flex;
    background-color: blanchedalmond;
}
.judulbioteknologi{
    font-size: 50px;
}
.introyogurt{
    color: rgb(36, 83, 125);
    font-size: 30px;
    width: 700px;
    background-color: #ffffff62;
}
.myprofile img{
    width: 300px;
    background-color: black;
    padding: 15px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
}
.imgprofile img{
    width: 100%;
}
.profile {
    margin-top: 100px;
}
.account{
    left: 0;
    bottom: 0;
    text-align: center;
    height: 40px;
    padding-top: 10px;
}
.account a{
    text-decoration: none;
    padding: 10px 10px;
    font-size: 24px;
    color: white;
}
.halaman a{
    color:rgb(43, 67, 226);
    font-size: 30px;
}
.tentang{
    color: rgb(43, 67, 226);
    font-size: 30px;
}
.prosedur{
    color:rgb(43, 67, 226);
    font-size: 30px;
}
.akun{
    color:rgb(43, 67, 226);
    font-size: 30px;
}
nav a{
    color:blanchedalmond;
    font-size: 20px;
    border-radius: 20px 0px 20px 0px;
    text-decoration: none;
    transition: 1s;
    padding: 5px 15px 5px 15px;
    background-color: rgb(22, 75, 57);
    font-family: audiowide;
}
nav a:hover{
    color:#ffffff62;
    background-color: blanchedalmond;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 5px 5px 5px -2px black;
    padding: 7px 20px;
    transition: 0.5s;
}
p{
    text-align: justify;
}
.about{
    margin: 20px;
}
.introabout{
    background-color: bisque;
}
.banner{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
